atomicwrites==1.4.1
attrs==23.1.0
coverage==7.2.7
ddt==1.6.0
greenlet==2.0.2
importlib-metadata==6.8.0
iniconfig==2.0.0
injector==0.20.1
Markdown==3.4.3
more-itertools==9.1.0
packaging==23.1
Pillow==10.0.0
pluggy==1.2.0
psycopg2==2.9.6
py==1.11.0
PyPDF2==1.26.0
pytest==7.4.0
reportlab==4.0.4
roman==4.1
six==1.16.0
SQLAlchemy==1.4.34
typing==3.7.4.3
typing_extensions==4.7.1
zipp==3.16.2
