atomicwrites
attrs
coverage
ddt
django
greenlet
importlib-metadata
iniconfig
injector
Markdown
more-itertools
packaging
Pillow
pluggy
psycopg2
py
PyPDF2==1.*
pytest
reportlab
roman
six
SQLAlchemy==1.4.*
zipp
